<div class="bg-warning">
    <nav class="container-lg d-flex justify-content-between py-3 px-5">
        <a href="/user">Home</a>
        <a href="/user/addpost">Add Post</a>
        <a href="/signup">Sign Up</a>
    </nav>
</div>